.forms-adicionar{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.forms-adicionar .campo-forms {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.forms-adicionar legend {
    text-align: center;
}