body {
    overflow: hidden; /* EVITA PARA NAO TER BARRA DE ROLOGAEM */
  }
  
  .login {
    display: flex;
  }
  
  /* ===== REVER DAQUI PRA BAIXO NO COMEÇO */
  .login label {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 7px;
    display: block;
  }
  
  .login-left {
    padding: 50px;
    max-width: 50%;
    width: 100%;
    min-height: 100vh; /* VH - VIEW (PORT) HEIGHT */
  }
  
  .login-left-top {
    margin-bottom: 80px;
  }
  
  .login-left-top h1 {
    font-size: 60px;
    color: #3362cc;
  
    text-align: center;
  }
  
  .login-left-top h2 {
    font-size: 28px;
    color: #3362cc;
    text-align: center;
  }
  
  .login-left-top p {
    font-size: 20px;
    line-height: 24px;
    color: #1c1c1c;
  
    margin-top: 24px;
    text-align: center;
  }
  
  .login-left-bottom .box-email {
    margin-bottom: 25px;
  }
  
  .login-left-bottom a {
    display: block;
    margin-top: 11px;
    max-width: max-content;
    margin-left: auto;
    color: #3362cc;
  }
  
  .login-left-bottom button {
    margin-top: 30px;
  }
  
  .login-right {
    height: 100%;
    width: 100%;
  }
  
  .login-right img {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
  }
  

btn {
    color: #fff; 
    display: block; 
    max-width: 100%
}