@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  padding: 10px 20px;
  border: solid 1px #ccc;
  border-radius: 2.5px;
}

button {
  padding: 10px 20px;
  border-radius: 2.5px;
}
