* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

@import './login.scss';
@import './list-user.scss';
@import './login.scss';
@import './dashboard.scss';
@import './crud-aluno.scss';


a:not(.btn) {
  transition: 0.3s;
  color: #3362cc;
}

a:not(.btn):hover {
  color: #0e3896;
}

.btn {
  border-radius: 8px;
  padding: 17px 23px 18px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
  display: inline-block;
}

.btn-default {
  background-color: #ebebeb;
  font-weight: bold;
  color: #000;
}

.btn-default:hover {
  background-color: #dcdcdc;
}

.btn-success {
  background-color: #08ae72;
  color: #fff;
}

.btn-success:hover {
  background-color: #049661;
}

.btn-success:hover {
  color: #fff;
}

.btn-primary {
  background-color: #0893e1;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0c8ad1;
}

.btn-primary-outline {
  background-color: transparent;
  color: #0893e1;
  -webkit-box-shadow: inset 0px 0px 0px 2px #0893e1;
  -moz-box-shadow: inset 0px 0px 0px 2px #0893e1;
  box-shadow: inset 0px 0px 0px 2px #0893e1;
}

.btn-primary-outline:hover {
  background-color: #0893e1;
  color: #fff;
}

input {
  border: 1px solid #000000;
  height: 50px;
  display: block;
  border-radius: 6px;
  padding: 10px 18px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

input::placeholder {
  color: #656565;
}

button {
  cursor: pointer;
}

button:not(.no-config) {
  background-color: #3362cc;
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
